body {
   margin: 10px auto;
   padding: 10px;
   border: 10px solid black;
    font-family: arial, sans-serif;
    background-image:url('https://wallpapergram.ir/wp-img/WallpaperGram.IR_1553786402_19323.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: 1px solid black;
    max-width: 600px;
}
  
  h1 {
    color: #7c7c7c;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
  }
  
  ul {
    margin: 0 0 10px;
    padding: 0;
  }
  
  li {
    color: #7c7c7c;
    font-size: 16px;
    font-weight: 100;
    height: 19px;
    line-height: 1;
    list-style: none;
  }
  .weather-icon{
    font-size: larger;
  }
  .weather-app {
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
  }
  
  .temperature {
    color: rgb(33, 33, 33);
    font-size: 80px;
    font-weight: 50;
    line-height: 1;
  }
  
  .units {
    position: relative;
    top: -34px;
  }
  
  .search-form {
    margin-bottom: 20px;
  }
  .degrees{
    font-size: large;
  }
.card {
  background: none;
}
.footer{
text-align: center;

}
.btn btn-primary w-75{
margin-left: 10px;
}
 .active{
  color: black;
  cursor: default;
}
 .active:hover{
  text-decoration: none;
}